<div class="mask d-flex align-items-center h-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6 mt-5">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-center mb-5"><%= t('titles.password_changer') %></h2>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <form>
                <div class="form-outline mb-2">
                  <%= f.email_field :email, class: 'form-control form-control-lg' %>
                </div>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div><%= resource.unconfirmed_email %></div>
                <% end %>
                <div class="form-outline mb-2">
                  <%= f.password_field :password, placeholder: t('placeholder.password'), autofocus: 'true', class: 'form-control form-control-lg' %>
                </div>
                <div class="form-outline mb-2">
                  <%= f.password_field :password_confirmation, placeholder: t('placeholder.password_confirmation'), class: 'form-control form-control-lg' %>
                </div>
                <div class="form-outline mb-2">
                  <%= f.password_field :current_password, placeholder: t('placeholder.current_password'), class: 'form-control form-control-lg' %>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <%= f.submit t('buttons.change_password'), class: 'btn btn-info my-3' %>
                </div>
            <% end %>
            <div class="d-grid gap-2 col-6 mx-auto">
              <%= button_to t('buttons.cancel_account'), registration_path(resource_name), data: { confirm: t('confirm.agree') }, method: :delete, class: 'btn btn-danger w-100' %>
            </div>
            <p class="text-center text-muted mt-2 mb-0"><%= t('text.revised?') %>
              <%= link_to t('buttons.back'), :back, class: 'fw-bold text-body' %></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
