<!DOCTYPE html>
<html>
<head>
  <title><%= t('title') %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>
<body>
<%= render 'partials/navigation' %>
<div class="container">
  <div class="row">
    <div class="mt-3 w-auto">
      <% if notice %>
        <div class="alert alert-light alert-dismissible fade show">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          <p><%= notice %></p>
      <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
